<!DOCTYPE html>
<html>
<head>
  <title>Whybuy Items List</title>

</head>
<body>

  <div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

</body>
</html>
